.section {
    max-width: 1080px;
    margin: 0 auto;
    padding: 3rem 1.5rem 4rem;
    width: 100%;
    background-color: var(--color-bg);
}

.header {
    text-align: center;
    margin-bottom: 2rem;

    h2 {
        font-size: 1.6rem;
        font-weight: 600;
        margin: 0;
    }
}

.grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    >* {
        animation-delay: calc(var(--index) * 80ms);
    }

    @media (min-width: 640px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}