.card {
    position: relative;
    background: var(--color-card);
    border: 1px solid var(--color-border);
    border-radius: 12px;
    overflow: hidden;
    transition: 0.35s;
    opacity: 0;
    transform: translateY(15px);
    animation: cardFadeIn 0.6s forwards;

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -2px;
        transform: translateX(-50%);
        width: 80%;
        height: 10px;
        background: radial-gradient(circle,
                rgba(252, 163, 17, 0.45),
                transparent 70%);
        filter: blur(8px);
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    &:hover::after {
        opacity: 1;
    }

    &:hover {
        transform: translateY(-6px) scale(1.02);
    }
}

@keyframes cardFadeIn {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 220px;
    overflow: hidden;
    cursor: pointer;

    .card:hover & .image {
        transform: scale(1.08);
    }
}

.image {
    object-fit: cover;
    transition: transform 0.5s ease;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    opacity: 0;
    transition: opacity 0.4s ease;

    .card:hover & {
        opacity: 1;
    }
}

.body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    h3 {
        transition: color 0.3s ease;

        .card:hover & {
            color: var(--color-primary);
        }
    }

    p {
        color: var(--color-text-muted);
    }
}

.button {
    margin-top: auto;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background: var(--color-blue);
    border: 1px solid var(--color-border);
    color: var(--color-text);
    transition: all 0.3s ease;

    &:hover {
        background: var(--color-primary);
        color: var(--color-bg);
        font-weight: 700;
        cursor: pointer;
    }
}